body {
  font-family: monospace;
  display: flex;
  flex-wrap: wrap;
  flex-basis: 100%;
  width: 100%;
}

.header {
  background-color: #ffafed;
  height: 200px;
  width: 100%;
}

#link1, #link2, #link3 {
  margin: 0;
  float: right;
  flex-direction: row-reverse;
}

#link1 {
  margin-right: 20px;
}

#link2 {
  margin-right: 10px;
}

#link3 {
  margin-right: 10px;
}

.centerText {
  margin: 50px 0 0 3em;
}

.centerText p,h1 {
  margin: 0 0 5px 0;
}


.centerText img {
  padding-left: 350px;
}


.centerText button {
  background-color: #ffccbb;
  border: 1px solid;
  width: 110px;
  padding: 10px;
  border-radius: 10px;
  border-color: #ff66cc;
}

.middle {
  height: 500px;
  background-color: #FFB6C1;
  width: 100%;
}

.middle h1 {
  text-align: center;
  padding-top: 20px;
  font-size: 35px;
}

.middle h3 {
  text-align: center;
  font-size: 20px;
}

.middle img {
  
}

.quote {
  background-color: #FFCCCB;
  font-size: 25px;
  text-align: center;
  padding-top: 20px;
}


.quote #sig {
  float: right;
  margin-right: 20px;
  padding: 0 5px 10px 0;
}

.orderAd {
  background-color: #F26B8A;
  width: 100%;
  height: 200px;
}

.textCont {
  margin: auto;
  text-align: center;
  background-color: #fbffc0;
  margin-top: 50px;
  border-radius: 20px;
  width: 90%;
  justify-content: right;
  height: 80px;
}

.orderAd button {
  margin: center;
  float: right;
  margin: 0px 25px 25px 0px;
  background-color: #ffccbb;
  border: 1px solid;
  border-color: #ff66cc;
  width: 110px;
  padding: 10px;
  border-radius: 10px;
}


.footer {
  background-color: #ffafed;
  text-align: center;
  font-size: 15px;
  width: 100%;
}
