body {
  font-family: monospace;
  display: flex;
  flex-wrap: wrap;
  flex-basis: 100%;
}

.header {
  background-color: #ffafed;
  height: 200px;
  width: 100%;
}

#link1, #link2, #link3 {
  margin: 0;
  float: right;
}

#link1 {
  margin-right: 20px;
}

#link2 {
  margin-right: 10px;
}

#link3 {
  margin-right: 10px;
}

.centerText {
  margin: 50px 0 0 3em;
}

.centerText p,h1 {
  margin: 0 0 5px 0;
}


.centerText img {
  padding-left: 350px;
}


.centerText button {
  background-color: #ffccbb;
  border: none;
  width: 110px;
  padding: 10px;
  border-radius: 10px;
}

.middle {
  height: 500px;
  background-color: #FFB6C1;
  width: 100%;
}

.middle h1 {
  text-align: center;
  padding-top: 20px;
  font-size: 35px;
}

.middle h3 {
  text-align: center;
  font-size: 20px;
}

.middle img {
  
}

.quote {
  background-color: #FFCCCB;
  font-size: 25px;
  text-align: center;
  padding-top: 20px;
}


.quote #sig {
  float: right;
  margin-right: 20px;
  padding: 0 5px 10px 0;
}
